hgroup{
    font-style: Medium;
    text-align: center;
}

hgroup h3{
    color: #F9F4DA;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

hgroup p{
    font-weight: 500;
    font-size: 1.3rem;
    color: #8E8E8E;
}

.status-bar{
    background-color: #10A95B;
    margin: 3vh;
    text-align: center;
    padding: 2vh;
    width: 60vw;
    color: #F9F4DA;
    border-radius: 10px;
    font-weight: 500;
    font-style: Medium;
    h3{
        font-size: 1.3rem;
    }
    p{
        font-size: 1rem;
    }
}

.langBoxContainer{
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
    justify-content: center;
    gap: 2px;
    margin: 10px;
}

.wordBox{
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin: 5vh;
}

span.letter{
    color: #F9F4DA;
    width: 4vw;
    height: 4vw;
    background-color: #323232;
    border-bottom: 1px solid #F9F4DA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.5rem;
}