*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #282726;
    font-family: "Hanken Grotesk", sans-serif;
    padding: 10vh 10vh;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}